<div id="edit-user" class="common-form">
  <h1><%= t('muck.profiles.update_profile') %></h1>
  <% custom_form_for @profile, :url => user_profile_path(@user), :html => {:id => "edit-profile-form", :name => 'edit-profile-form', :method => :put, :multipart => true } do |f| -%>
   <%= output_errors(t('muck.profiles.problem_editing_account'), {:class => 'help-box'}, @profile) %>
    <%= image_tag @profile.photo.url(:thumb) %>
    <%= f.file_field :photo, { :label => t('muck.profiles.upload_photo') } %>
    <div class="button form-row">
      <%= f.submit t('muck.general.update') %>
    </div>
  <% end %>
</div>