<div class="span-24">
  <%= output_flash(:class => 'help-box') %>
</div> 
<div class="span-5 colborder column">
  <%= icon @user, :thumb %>
  <p><%= @user.full_name %></p>
  
  <p><%= link_to(t('muck.profiles.edit_profile'), edit_user_profile_path(@user)) if @user.profile.can_edit?(current_user) %></p>
  
  <p>
    <%= friend_link(current_user, @user) %>
    <%= block_user_link(current_user, @user) %>
  </p>
    
  <h2><%= t('muck.friends.followers')%></h2>
  <%= followers(@user, 12, t('muck.friends.no_followers'), 'friend_tiny_icon') %>
   
  <h2><%= t('muck.friends.following')%></h2>
  <%= followings(@user, 12, t('muck.friends.not_following_anyone'), 'friend_tiny_icon') %>

  <hr class="space" />
  <div id="identity" class="box">
    <%= services_summary(@user) %>
  </div>
  
</div>

<div class="span-16 column">
  <%= limited_activity_feed_for(@user) %>
  <%= google_feeds_display(@user.own_feeds, 5, 10) %>
</div>
