<div class="span-24">
  <%= output_flash(:class => 'help-box') %>
</div> 
<div class="span-5 colborder column">
  <%= icon @user, :thumb %>
  <p><%= @user.full_name %></p>
  <p><%= link_to t('muck.profiles.edit_profile'), edit_user_profile_path(@user) if @profile.can_edit?(current_user) %></p>
  <!--
  <p><%= friend_link(current_user, @user) %></p>
    
  <h2><%= t('muck.friends.followers')%></h2>
  <%= followers(@user) %>
  <h2><%= t('muck.friends.following')%></h2>
  <%= followings(@user) %>
-->
</div>

<div class="span-16 column">
  <%= limited_activity_feed_for(@user) %>
</div>