<%= output_errors('', {:class => 'help-box'}) %>

<script type="text/javascript">
function $(id){return document.getElementById(id);}
function dim(id){$(id).style.background='#DFEFFF';}
function undim(id){$(id).style.background='#FFF';}
</script>
<div id="advertisements">
    <span style="cursor:pointer;" onclick="javascript:window.open('<%= signup_path %>','_self');return false;" onmouseover="dim('advert-register');" onmouseout="undim('advert-register');">
      <div id="advert-register" class="advert column">
      	<h2><%= link_to t('folksemantic.register_link'), signup_path %></a></h2>
      	<div class="description">
      		<%= t('folksemantic.register_description') %>
      	</div>
  	  </div>
    </span>
    <span style="cursor:pointer;" onclick="javascript:window.open('<%= oers_url %>','_self');return false;" onmouseover="dim('advert-search');" onmouseout="undim('advert-search');">
      <div id="advert-search" class="advert column">
      	<h2><%= link_to t('folksemantic.search_link'), oers_url %></h2>
      	<div class="description">
      		<%= t('folksemantic.search_description') %>
      	</div>
  	  </div>
    </span>
    <span style="cursor:pointer;" onclick="javascript:window.open('/widgets','_self');return false;" onmouseover="dim('advert-widgets');" onmouseout="undim('advert-widgets');">
      <div id="advert-widgets" class="advert column">
      	<h2><a href="/widgets"><%= t('folksemantic.widgets_link') %></a></h2>
      	<div class="description">
      		<%= t('folksemantic.widgets_description') %>
      	</div>
	    </div>
	  </span>
</div>