<div id="advertisements">
    <div id="advert-register" class="advert left">
    	<h2><%= link_to t('folksemantic.register_link'), signup_path %></a></h2>
    	<div class="description">
    		<%= t('folksemantic.register_description') %>
    	</div>
	</div>

    <div id="advert-search" class="advert left">
    	<h2><%= link_to t('folksemantic.search_link'), oers_url %></h2>
    	<div class="description">
    		<%= t('folksemantic.search_description') %>
    	</div>
	</div>

    <div id="advert-widgets" class="advert left">
    	<h2><a href=""><%= t('folksemantic.widgets_link') %></a></h2>
    	<div class="description">
    		<%= t('folksemantic.widgets_description') %>
    	</div>
	</div>
<!--
    <div id="advert-tour" class="advert left">
    	<h2><a href=""><%= t('folksemantic.tour') %></a></h2>
    	<div class="description">
    		<%= t('folksemantic.tour_description') %>
    	</div>
	</div>
-->
</div>