<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  	<head>
      <%= render :partial => 'layouts/global/head' %>
  	</head>
  	<body>
  	  <%= render :partial => 'layouts/global/header' %>
  	  <div id="wrapper" class="container">
  	    <div id="content-wrapper">
          <div id="content">
  		      <%= yield :layout %>
  		    </div>
  		  </div>
  		</div>
  		<%= render :partial => 'layouts/global/footer' %>
  		<script type="text/javascript" language="JavaScript">
        <%= yield :javascript %>
      </script>  
  	</body>
  </html>
