<% content_for :head do  -%>
	<%# TODO get rss working = auto_discovery_link_tag :rss, formatted_profile_url(current_user, :rss), :title=>"#{current_user.login}'s recent activity" %>
	<%#= auto_discovery_link_tag :rss, formatted_user_blogs_url(current_user, :rss), :title=>"#{current_user.login}'s Blogs" %>
	<%#= auto_discovery_link_tag :rss, formatted_user_photos_url(current_user, :rss), :title=>"#{current_user.login}'s Photos" %>
<% end -%>

<div class="span-3 column">
  <%= activity_filter(@user, 'welcome') %>
  <h2><%= t('muck.friends.following')%></h2>
  <%= followings(@user, 12, t('muck.friends.not_following_anyone'), 'friend_tiny_icon') %>
  <h2><%= t('muck.friends.followers')%></h2>
  <%= followers(@user, 12, t('muck.friends.no_followers'), 'friend_tiny_icon') %>
</div>

<div class="span-14 two-colborder column">
  <%#= contribute(@user) %>
  <%= status_update(@user) %>
  <%= activity_feed_for(@user) %>
</div>

<div class="span-5 last column">
  <div id="controls" class="box">
    <ul>
      <li><%= link_to t('muck.invites.invite_friends', :app_name => GlobalConfig.application_name), new_invite_path %></li>
      <li><%= link_to t('muck.profiles.view_profile'), profile_path(@user) %></li>
      <li><%= link_to t('folksemantic.search_link'), resources_url %></li>
      <li><%= link_to t('uploader.manage_photos_files'), user_uploads_path(@user) %></li>
      <li><a href="/widgets"><%= t('folksemantic.widgets_link') %></a></li>
      <li><%= link_to t('folksemantic.contribute_repository'), new_oai_rss_feeds_path, :class => 'iframe lightbox' %></li>
    </ul>
  </div>
  <!-- 
  <hr class="space" />
  <div id="recommended" class="box">
    <h4>Recommended Resources</h4>
  </div> -->
  
  <hr class="space" />
  <div id="identity" class="box">
    <h3><%= t('muck.raker.my_identity') %></h3>
    <%= services_summary(@user) %>
    <%= link_to t('folksemantic.add_edit_feeds'), user_identity_feeds_path(@user) %>
  </div>
</div>

<% content_for :javascript do -%>
jQuery(document).ready(function() {
  jQuery('a.lightbox').fancybox({
      'hideOnContentClick': true,
      'overlayShow': true,
      'frameWidth': 700,
      'frameHeight': 600
  });
  jQuery('a.status-action').click(function(){
    jQuery('.status-activity').hide();
    jQuery('.status-action').removeClass('active');
    var container = this.id.replace('-action', '-container');
    jQuery(this).addClass('active');
    jQuery('#' + container).show();
  });
});
<% end -%>
