<div class="block" id="footer">
<%= t('folksemantic.credits') %> 
</div>

<div class="block" align="center">
   <%= locale_link 'Deutsch', 'de' %>
 | <%= locale_link 'English', 'en' %>
 | <%= locale_link 'Español', 'es' %>
 | <%= locale_link 'Français', 'fr' %>
 | <%= locale_link 'Nederlands', 'nl' %>
 | <%= locale_link 'Русский язык', 'ru' %>
 | <%= locale_link '中文', 'zh' %>
 | <%= locale_link '日本語', 'ja' %>
</div>
