<title><%= @page_title || current_theme.name || GlobalConfig.application_name %></title>
<meta http-equiv="content-type" content="text/xhtml; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="distribution" content="all" />
<meta name="robots" content="all" />
<meta name="resource-type" content="document" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<%= stylesheet_link_tag 'blueprint/print.css', :media => "print" %>
<!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->  		
<%= stylesheet_link_tag %W{ reset blueprint/liquid_screen.css styles }, :cache => true %>
<%= stylesheet_link_tag 'folksemantic' %>
<%= javascript_include_tag %w{
            jquery/jquery.js
            jquery/jquery-ui.js
            jquery/jrails.js
            jquery/jquery.jgrowl.js
            jquery/jquery.tips.js
            muck.js
            application.js }, :cache => 'all_js_cached' %>
<%= javascript_tag %[var AUTH_TOKEN = #{form_authenticity_token.inspect};] if protect_against_forgery? %>
<%= yield :head -%>
<link rel="shortcut icon" href="/images/folksemantic/favicon.ico" type="image/x-icon">
<link rel="icon" type="image/vnd.microsoft.icon" href="/images/folksemantic/favicon.ico">