<div id="search-controls">
  <% form_tag({:controller => 'recommender/entries', :action => 'search'}, {:method => :get}) do -%>
    <%= text_field_tag(:q, @terms.nil? ? t('folksemantic.search') : @terms, :id => 'search-box') %>
    <input class="input-button" type="submit" value="<%= t('folksemantic.search_button') %>"/>
    <div id="user-login">
      <% if logged_in? -%>
        <%= link_to t('folksemantic.welcome_user', :user => current_user.login), current_user %>
      <% else -%>
        <%= link_to t('muck.users.sign_up'), signup_path %> | <%= link_to t('muck.users.sign_in'), login_path %> <img src="/images/folksemantic/flags/flag_en.png" style="vertical-align:middle"/>
      <% end -%>
    </div>
  <% end -%>
</div>