<div class="span-8 column">
  <div id="search-controls">
    <% form_tag({:controller => 'recommender/entries', :action => 'search'}, {:method => :get}) do -%>
      <%= text_field_tag(:q, (@term_list.nil? || !@tag_filter.nil?) ? t('folksemantic.search') : URI.unescape(@term_list), :id => 'search-box', :onclick => 'insearch(this)', :onblur => 'outsearch(this)') %>
      <input class="input-button" type="submit" value="<%= t('folksemantic.search_button') %>"/>
      <div id="user-login">
        <select name="grain_size" <%= @refresh_results ? 'onchange="grainSize(this)"' : ''%>>
            <option value="unknown"><%= t('muck.raker.all_resources') %></option>
            <option value="course"><%= t('muck.raker.only_courses') %></option>
        </select>&nbsp;
        <% if logged_in? -%>
          <%= link_to t('muck.users.sign_out_title'), logout_path %>
        <% else -%>
          <%= link_to t('muck.users.sign_up'), signup_path %> | <%= link_to t('muck.users.sign_in'), login_path %> 
        <% end -%>
        &nbsp;<img src="/images/folksemantic/flags/flag_<%= I18n.locale.to_s %>.png" id="current-locale-flag"/>
      </div>
    <% end -%>
  </div>
</div>
<% content_for :javascript do -%>
function replaceAndRefresh(name,value)
{
   var oldHref = location.href
   var newHref = '';
   if (oldHref.indexOf('&'+name) > -1)
   {
       var locArray = oldHref.split('&');
       for (i=0; i < locArray.length; i++)
       {
           if (locArray[i].indexOf(name) > -1)
               locArray[i] = name + '=' + value;
           if (locArray[i].indexOf('?') == -1)
               newHref += '&' + locArray[i];
           else
               newHref = locArray[i];
       }
    }else if (oldHref.indexOf('?') > -1){newHref = oldHref + '&' + name + '=' + value;}
    else {newHref = location.href + '?' + name + '=' + value;}
    location.href = newHref;
}
<%= @refresh_results ? "  function grainSize(t){if(t.value=='course')replaceAndRefresh('grain_size','course');}" : "" -%>
  function insearch(t){if(t.value=='<%= t('folksemantic.search')%>')t.value='';t.style.color='black';}
  function outsearch(t){t.style.color='gray';if(t.value=='')t.value='<%= t('folksemantic.search')%>';}
<% end -%>
