<div id="uploads">
	
	<div class="left" id="column_l">
		<div class="left"> 
			<h1>Files</h1>
		</div>
		
		<div class="clear">
			<span class="link-button"><%= link_to "Main", uploads_path(make_parent_params(@parent)) -%></span>
      <span class="link-button"><%= link_to "Photos", photos_uploads_path(@parent) -%></span>
			<%= error_messages_for :upload %>
		</div>
		
		<div class="activity_box">
			<h2>Files</h2>
      <table class="clear">
      	<thead>
      		<tr>
      			<th>&nbsp;</th>
      			<th><%= 'File Name' %></th>
      			<th><%= 'Created' %></th>
      		</tr>
      	</thead>			
      	<tbody id="upload-list" >
      		<%= render :partial => 'uploads/upload_row', :collection => @uploads, :locals => {:style => '', :parent => @parent} -%>
      	</tbody>
      </table>
			<div class="clear">
	  		<%= will_paginate @uploads, :previous_label => '&laquo; Previous', :next_label => 'Next &raquo;' %>
			</div>
		</div>
		
		<div class="clear"></div>
	</div>
	
	<div class="right" id="column_r">
		<div id="upload-files" class="activity_box">
			<h2><%= t('uploader.upload_files') %></h2>
			<%= upload_form(@parent) %>
		</div>
	</div>
	
</div>

<% content_for :javascript do  -%>
  setup_submit_delete();
  function upload_completed_callback(data){
    jQuery('#upload-list').prepend(data);
    setup_submit_delete();
  }
<% end -%>