<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title><%= (@page_title || GlobalConfig.application_name) + " Admin" -%></title>
		<meta http-equiv="content-type" content="text/xhtml; charset=utf-8" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="distribution" content="all" />
		<meta name="robots" content="all" />
		<meta name="resource-type" content="document" />
		<meta name="MSSmartTagsPreventParsing" content="true" />
    <%= stylesheet_link_tag 'blueprint/print.css', :media => "print" %>
    <!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
		<%= stylesheet_link_tag %W{ reset blueprint/screen.css styles admin }, :cache => true %>
    <%= javascript_include_tag %w{
                jquery/jquery.js
                jquery/jquery-ui.js
                jquery/jrails.js
                jquery/jquery.jgrowl.js
                jquery/jquery.tips.js
                muck.js
                application.js }, :cache => 'all_js_cached' %>
    <%= javascript_tag %[const AUTH_TOKEN = #{form_authenticity_token.inspect};] if protect_against_forgery? %>
    <%= yield :head -%>
	</head>
	<body>		
	  <div id="wrapper" class="container">
	    <div id="header" class="span-24 last">
	    </div>
      <div id="subheader" class="span-24 last">
        <div id="main-navigation" class="span-18 first navigation">
  				<ul>
  					<li class="first"><%= link_to t('muck.admin.users'), admin_users_path %></li>
  					<li><%= link_to t('muck.admin.permissions'), admin_roles_path %></li>
  					<li><%= link_to t('muck.admin.themes'), edit_admin_theme_path %></li>
  				</ul>
  			</div>
				<div id="account-navigation" class="span-6 last navigation">
				  <ul>
					  <li class="first"><a href="/"><%= t('muck.admin.home') %></a></li>
					  <li><%= link_to t('muck.admin.my_dashboard'), user_path(current_user) %></li>
					  <li><%= link_to t('muck.users.sign_out_title'), logout_path %></li>
					</ul>
				</div>
  		</div>
  		<div class="span-24">
  		  <%= output_errors('', {:class => 'help-box'}) %>
  		</div>
  		<hr />
      <div id="content-wrapper">
        <% if sidebar = yield(:sidebar) -%>
          <div id="content" class="span-18">
  		      <%= yield :layout %>
  		    </div>
  		    <div id="sidebar" class="span-5">
  		      <%= sidebar %>
  		    </div>
  		  <% else -%>
  		    <div id="content">
  		      <%= yield :layout %>
  		    </div>
		    <% end -%>
		  </div>
		</div>
		<script type="text/javascript" language="JavaScript">
      <%= yield :javascript %>
    </script>
	</body>
</html>